#ofek-logo {
    width: 2vw;
    margin-bottom: 0.5vw;
}


#headline-twitter {
    font-size: 1.5vw;
}

.headline-link {
    background-color: #0a64eb;
    border: none;
    height: 4vw;
    font-size: 1vw;
}


a:visited {
    color: white;
}

a {
    text-decoration: none !important;
}

a:hover {
    color: #2892ed !important;
}

.navbar-color {
    background-color: #0a64eb;
}
