#text-area {
    margin-top: 1%;
    display: inline-block;
    padding-top: 5%;
}

.avatarpic {
    width: 3vw;
    height: 3vw;
}

.messege div{
    display: inline-block;
    font-size: 1vw;
    vertical-align: middle;
    margin-top: 1%;
}

#text-area-div {
    display: inline-block;
    vertical-align: middle
}

#text-area-button {
    display: inline-block;
}