.filterr {
    display: inline-block;
}

#wrapper {
    width: 75%;
    margin: auto;
    padding-top: 1%;
    font-size: 12px;
}

.freind {
    text-align: center;
    width: 16%;
    height: 120px;
    margin-top: 1%;
    padding-top: 1%;
    display: inline-block;
    line-height: 25px;
    border: 3px solid #e6e6e6;
    border-radius: 4px;
}

.freind:hover {
    border: 3px solid #cecece;
}

#freind8:hover , #freind9:hover {
    border: 3px solid #cecece;
}

#aside, #articale {
    display: inline-block;
}

#freind8, #freind9 {
    text-align:center;
    width: 50%;
    margin-left: 25%;
    padding-top: 2%;
    height: 122px;
    line-height: 0px;
    border: 3px solid #e6e6e6;
    border-radius: 4px;
}

#aside {
    width: 20%;
    line-height: 3px;
    padding-bottom: 2%;
    margin: auto;
    border: 3px solid #e6e6e6;
    border-radius: 4px;
}

#articale {
    width: 70%;

}

aside h1 {
    margin-left: 27%;
    font-size: 20px;

}

aside div {
    line-height: 20px;
}
