.filterr {
    display: inline-block;
}

#wrapper {
    width: 75%;
    margin: auto;
    padding-top: 1vw;
    font-size: 1vw;
}

.freind {
    text-align: center;
    width: 8vw;
    height: 9vw;
    margin-top: 0.5vw;
    padding-top: 2vw;
    display: inline-block;
    line-height: 2.3vw;
    border: 0.25vw solid #e6e6e6;
    border-radius: 0.33vw;
}

.freind:hover {
    border: 0.25vw solid #cecece;
}

#freind8:hover , #freind9:hover {
    border: 0.25vw solid #cecece;
}

#aside, #articale {
    display: inline-block;
}

#freind8, #freind9 {
    text-align:center;
    width: 8vw;
    margin-left: 3.2vw;
    padding-top: 1vw;
    height: 9vw;
    border: 0.25vw solid #e6e6e6;
    border-radius: 0.33vw;
}

#aside {
    width: 15vw;
    height: 23vw;
    line-height: 0.5vw;
    padding-bottom: 2vw;
    margin: auto;
    border: 0.25vw solid #e6e6e6;
    border-radius: 0.33vw;
}

#articale {
    width: 50vw;

}

aside h1 {
    margin-left: 27%;
    font-size: 1.2vw;

}

aside div {
    line-height: 1.2vw;
}

.avatarpic {
    width: 3vw;
    height: 3vw;
}

#articale-inside {
    width: 50vw;
}