#text-area {
    margin-top: 1%;
    display: inline-block;
    margin-left: auto;
    margin-right: auto;
}

.avatarpic {
    width: 100%;
    height: 100%;
}

.messege div{
    display: inline-block;
    font-size: 12px;
    vertical-align: middle;
}
